<div align="center">
  <h2>Gallery | Life during EMMIHS-III</h2>
</div>

<div class="row">
  <div class="column">
    <img src="images/team.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/Astro_MG_small.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/Cooking.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/ESA_flag.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="images/EVAprep.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/habdark.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/lavacave1.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/lavacave2.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="images/MagExperiments.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/MGDBEfilming.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/night.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/Scheduler.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="images/PriyankaCave.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/rockoffering.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    <img src="images/Rover.jpg" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
  </div>
</div>
{% include Scripts/simplemodal.html %}