{% include Scripts/gallery.html %}

  <script>
    artThumb(
      img_src = "/Portfolio/MoonGal/cube.jpg", 
      img_alt = "", 
      heading = "", 
      text = "",
      medium = "",
      year = ""
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/MoonGal/hand.jpg", 
      img_alt = "", 
      heading = "", 
      text = "",
      medium = "",
      year = ""
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/MoonGal/moon.jpg", 
      img_alt = "", 
      heading = "", 
      text = "",
      medium = "",
      year = ""
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/MoonGal/phases.jpg", 
      img_alt = "", 
      heading = "", 
      text = "",
      medium = "",
      year = ""
      );
  </script>
