{% include Scripts/gallery.html %}

  <script>
    artThumb(
      img_src = "/Portfolio/Paintings/peacock.jpg", 
      img_alt = "Peacock Moon", 
      heading = "Peacock Moon", 
      text = "A taste of my homeland, India, where peacocks run free, and my love for lunar exploration. See on <a href='https://www.instagram.com/p/COsKcOqAt96/?utm_source=ig_web_copy_link'> Instagram. </a>",
      medium = "Acrylic on canvas",
      year = "2020"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Digital/astro.jpg", 
      img_alt = "astro",
      heading = "The Astronaut Spectrum", 
      text = "A tribute to our own space-faring civilization and the need to push for more diversity towards a sustainable future, where we learn from each other. See on <a href='https://www.instagram.com/p/COcyShHg-Wl/'> Instagram. </a>",
      medium = "Digital art",
      year = "2020"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Digital/drown-arise.jpg", 
      img_alt = "drown-arise",
      heading = "The Metamorphosis", 
      text = "Yes, that incident. See on <a href='https://www.instagram.com/p/B_Su20YlliP/'> Instagram. </a>",
      medium = "Digital art",
      year = "2020"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Paintings/taj.jpg", 
      img_alt = "taj",
      heading = "Taj Mahal during Sunset", 
      text = " See on <a href='https://www.instagram.com/p/COhVOs_AshG/'> Instagram. </a>",
      medium = "Acrylic on canvas",
      year = "2016"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Sketches/pont.jpg", 
      img_alt = "pont-neuf",
      heading = "Pont Neuf, Toulouse", 
      text = "Casual sketch by the bridge. Every <i> pont neuf </i> (or 'new bridge') tends to be the oldest bridge in its city or town, standing the test of time.",
      medium = "Ink on paper",
      year = "2016"
      );
  </script>


  <script>
    artThumb(
      img_src = "/Portfolio/Paintings/yosm.jpg", 
      img_alt = "Yosemite",
      heading = "A Magical Place", 
      text = "An illustration inspired by a photograph of El Capitan, Yosemite National Park.",
      medium = "Acrylic on canvas",
      year = "2009"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Sketches/mum.jpg", 
      img_alt = "mother",
      heading = "Mother's Embrace", 
      text = "Illustration for Navchetna Magazine to accompany a <a href='/Poetry/Mother/'> poem </a>. See on <a href='https://www.instagram.com/p/COpmfmEgCNc/'> Instagram. </a>",
      medium = "Ink and pencil on paper",
      year = "2016"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Sketches/toul.jpg", 
      img_alt = "Toulouse",
      heading = "Toulouse", 
      text = "Casual sketch by the famous Toulousan monument.",
      medium = "Ink on paper",
      year = "2016"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Sketches/vers.jpg", 
      img_alt = "Versailles",
      heading = "Versailles Fountains", 
      text = "Study of a fountain statue at the Versailles Gardens.",
      medium = "Pencil on paper",
      year = "2017"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Paintings/adieu.jpg", 
      img_alt = "adieu",
      heading = "Adieu", 
      text = "Initial experiments with acrylic.",
      medium = "Acrylic on paper",
      year = "2006"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Paintings/yasmina-sis.jpg", 
      img_alt = "yasmina-sis",
      heading = "Portrait of Yasmina's Dear Sister", 
      text = "A gift for someone who had lost someone.",
      medium = "Acrylic on canvas",
      year = "2013"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Sketches/face.jpg", 
      img_alt = "face",
      heading = "Charcoal and Face", 
      text = "A study of drawing with toothpicks.",
      medium = "Ink on paper",
      year = ""
      );
  </script>

  <script>
    artThumb(
      img_src = "/Portfolio/Paintings/anu.jpg", 
      img_alt = "girl-with-puppy",
      heading = "Girl with Puppy", 
      text = "Sketch from a photograph for a friend. See on <a href='https://www.instagram.com/p/COaXLSiALwe/'> Instagram. </a>",
      medium = "Chalk on paper",
      year = "2009"
      );
  </script>
