{% include Scripts/gallery.html %}

  <script>
    mgThumb(
      img_src = "/Portfolio/MoonGal/cube.jpg", 
      heading = "The 1cm Cube", 
      text = "",
      );
  </script>

  <script>
    mgThumb(
      img_src = "/Portfolio/MoonGal/hand.jpg", 
      heading = "Phases Strip", 
      text = "",
      );
  </script>

  <script>
    mgThumb(
      img_src = "/Portfolio/MoonGal/moon.jpg", 
      heading = "Moon: Reality and Illusion", 
      text = "",
      );
  </script>

  <script>
    mgThumb(
      img_src = "/Portfolio/MoonGal/phases.jpg",
      heading = "Phases", 
      text = "",
      );
  </script>
