<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% endcomment %}

    <a class="sidebar-nav-item" href="/About">About me</a>
    <a class="sidebar-nav-item" href="/Space">Space Projects</a>
    <a class="sidebar-nav-item" href="/Artwork">Art Portfolio</a>
    <a class="sidebar-nav-item" href="/Antarctica">Antarctica</a>
    <a class="sidebar-nav-item" href="/Poetry">Poetry</a>
    <a class="sidebar-nav-item" href="/Media">Media</a>

  </nav>

  <div class="sidebar-item">
    <img src="/Portfolio/Spirographs/ns2.gif" width="300">
    <p align="center">
      <a href="https://www.linkedin.com/in/das-pri/">LinkedIn</a> | 
      <a href="https://twitter.com/priyankaspace?lang=en">twitter</a>
      <br>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      {% comment %} Currently v{{ site.version }} {% endcomment %}
    </p>
  </div>
</div>