<div id="gal_mg_cube" class="gridphotos">
  {% include Scripts/smallgallery.html %}

  <script>
    smallGalThumb(
      gal_id = "gal_mg_cube",
      img_src = "/Portfolio/MoonGal/cube.jpg", 
      heading = "The 1cm Cube", 
      text = "",
      );
  </script>

  <script>
    smallGalThumb(
      gal_id = "gal_mg_cube",
      img_src = "/Portfolio/MoonGal/hand.jpg", 
      heading = "Phases Strip", 
      text = "",
      );
  </script>

  <script>
    smallGalThumb(
      gal_id = "gal_mg_cube",
      img_src = "/Portfolio/MoonGal/moon.jpg", 
      heading = "Moon: Reality and Illusion", 
      text = "",
      );
  </script>

  <script>
    smallGalThumb(
      gal_id = "gal_mg_cube",
      img_src = "/Portfolio/MoonGal/phases.jpg",
      heading = "Phases", 
      text = "",
      );
  </script>
</div>