<div id="gal_mg_iss" class="gridphotos">
  {% include Scripts/smallgallery.html %}

  <script>

    smallGalThumb(
      gal_id = "gal_mg_iss",
      img_src = "/Portfolio/MoonGal/moongallery_final.png", 
      heading = "Moon Gallery Layout", 
      text = "",
      );
  </script>

  <script>
    smallGalThumb(
      gal_id = "gal_mg_iss",
      img_src = "/Portfolio/MoonGal/moongallery_nanolab.png", 
      heading = "Installation on the Nanoracks Nanolab", 
      text = "<a href='https://www.instagram.com/p/CZkIKlmFY8e/'>Source</a>",
      );
  </script>

  <script>
    smallGalThumb(
      gal_id = "gal_mg_iss",
      img_src = "/Portfolio/MoonGal/mg_iss1.jpg", 
      heading = "View from the ISS Cupola", 
      text = "",
      );
  </script>

  <script>
    smallGalThumb(
      gal_id = "gal_mg_iss",
      img_src = "/Portfolio/MoonGal/mg_iss3.jpg", 
      heading = "View from the ISS Cupola", 
      text = "",
      );
  </script>
</div>
