---
layout: project_page
title: Ph.D. Research (GNSS)
---

<div>
    <img src="images/gnss_art.png" style="width:100%">
</div>
<div>
    <button class="accordion">About and Abstract</button>
    <div class="panel">
        {% include content/PhD/Abstract.html %}
        <br><br><br>
    </div>
    <button class="accordion">PhD Thesis</button>
    <div class="panel" align="center">
        <p><br>
            <i> Will be uploaded soon.</i>
        </p>
        <p>
            <a href="http://www.theses.fr/s222653"> Theses.fr </a>
        </p>
    </div>
    <button class="accordion">Thesis Defense (Slides)</button>
    <div class="panel" align="center">
        <p><embed src="Thesis-slides.pdf" width="100%" height="500px">
        </p>
    </div>
    <button class="accordion">Publications</button>
    <div class="panel">
        {% include content/PhD/Publications.html %}
        <br><br>
    </div>
    <button class="accordion">IAC 2019</button>
    <div class="panel"> <br>
        {% include content/PhD/IAC2019.html %}
        <br>
    </div>
    <button class="accordion">Teaching</button>
    <div class="panel"> <br>
        {% include content/PhD/Teaching.html %}
        <br>
    </div>
</div>