<div>
  <div class="row">
    <div class="column">
      <img src="images/bhedadipika/cube.jpg" alt="Cube" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
      <img src="images/bhedadipika/hand.jpg" alt="Light and Darkness" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
      <img src="images/bhedadipika/moon.jpg" alt="Moon" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    </div>
    <div class="column">
      <img src="images/bhedadipika/phases.jpg" alt="Phases" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
      <img src="images/spirographs/sup.gif" alt="Supernova" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
      <img src="images/spirographs/glit.gif" alt="NightSky2" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    </div>
    <div class="column">
      <img src="images/spirographs/epi_43-58-68.gif" alt="Supernova" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
      <img src="images/spirographs/hypo_123-600-123.gif" alt="Supernova" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
      <img src="images//nsky.gif" alt="NightSky" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    </div>
    <div class="column">
      <img src="images/spirographs/epi_30-100-50.gif" alt="Supernova" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
      <img src="images/spirographs/hypo_33-50-50.gif" alt="Supernova" style="width:100%" onclick="onClick(this)" class="hover-shadow cursor">
    </div>
  </div>
  {% include Scripts/simplemodal.html %}
</div>
