<div>
	<a href="https://scholar.google.com/citations?hl=en&user=fdHnyXEAAAAJ">Google Scholar</a>
	| <a href="https://www.researchgate.net/profile/Priyanka-Rajkakati">ResearchGate</a>
</div>
<div>
	<h2> PhD Research </h2>
	{% include content/PhD/Publications.html %}
</div>
<div> <br>
	<h2> EMMIHS-III Mission </h2>
	{% include content/EMMIHS3/Publications.html %}
</div>
<div> <br>
	<h2> Moon Gallery </h2>
	{% include content/MG/publications.html %}
</div>
<div> <br>
	<h2> Other </h2>
	<h3> Conferences </h3>
	<ol>
		<li>
			<b>P. Rajkakati</b>, J.S. Pathak, D. Barman
			“Remote-Sensing Technologies Towards Flood Mitigation in India's Northeast Region: A Case-Study”.
			<i> International Astronautical Congress (IAC), Paris (September 2022) </i>
		</li>
		<li>
			<b>P. Rajkakati</b>.
			“Science Outreach through Art: Experience as an scientist-artist in public engagement”.
			<i> Global Space Exploration Conference (GLEX-2021), St Petersburg (June 2021) </i>
		</li>
		<li>
			Y. Akisheva, P. Delande, C. Nassey, C. Moriceau, <b>P. Rajkakati</b>, G. Thirion, N. Soulard, M. Beliazi, J.
			Kemp.
			“Our Giant Leap: towards a diverse and inclusive aerospace workforce”.
			<i> International Astronautical Congress (IAC CyberSpace edition) (October, 2020) </i>
		</li>
		<li>
			H. Quizzagan, <b> P. Rajkakati </b>, S. Santra, L. M. Goh, H. S. Wijeratne, Y. Kim, B. I. Lo, A. Khanal, K.
			A. M. Nodado, S. Dhoju.
			“Cooperation and Capacity-building of Asia-Pacific Countries for Space Exploration”.
			<i> Global Space Exploration Conference (GLEX-2021), St Petersburg (June 2021) </i>
		</li>
	</ol>
</div>