<!-- The Modal -->
<div id="newModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <img id="thisImage" style="width:100%">   
  </div>
</div>

<script>
  function onClick(element) {
    document.getElementById("thisImage").src = element.src;
    document.getElementById("newModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("newModal").style.display = "none";
  }

</script>