<div align="center">
  <img src="images/banner.jpg" style="width: 50%">
</div>
<p>
  <a href="https://homewardboundprojects.com.au/about/">Homeward Bound</a> is a global 12-month leadership initiative for women with a background in <b>STEMM (Science, Technology, Engineering, Mathematics and Medicine)</b>, which aims to equip a 1000-strong collaboration of women with the skills to demonstrate a new model of leadership, to create better outcomes for our planet. The programme has been featured multiple times in the <a href="https://homewardboundprojects.com.au/media/">media</a>, including 
  <a href="https://www.forbes.com/sites/emanuelabarbiroglio/2019/11/22/the-largest-ever-womens-expedition-to-antarctica-will-upscale-science-diplomacy/#2f7226237686">Forbes</a>, 
  <a href="https://time.com/longform/women-antarctica-iwd-scientists-explorers/?utm_source=emailshare&utm_medium=email&utm_campaign=email-share-article&utm_content=20190721">Time</a> 
  and <a href="https://www.vogue.com.au/gamechangers/technology-and-business/homeward-bound/news-story/095f8341c7ade07228dfd1da00b12bbf">Vogue</a>.
</p>
<p>
  Priyanka was selected for the fifth edition of the initiative, for the 2019-20 edition, part of <a href="http://homewardboundprojects.com.au/hb1-participants/hb5-participants/"> 75 participants </a> selected from around the world, encompassing more than 25 nationalities and a hugely diverse representation of STEMM fields. Homeward Bound is now nearly halfway towards achieving its vision of creating a global collaboration of 1000 women leaders with STEMM backgrounds.
</p>
