<p>
  In the words of Fabian Dattner:
  <p class="message" align="justify">
    "The aim of Homeward Bound has always been to identify and foster outstanding leadership potential in STEMM... It is no accident that we end up in Antarctica, as it is part of the vision. It is where we can see the impact of our crisis of leadership and inaction first-hand. It is sensitive and challenging, awe-inspiring and motivating, and I can think of no more fitting experience for a group of leaders."
  </p>
</p>
<p>
  <img src="images/ant-fiord.jpg">
  <p align="center"><cite>Laubeuf Fjord with Webb Island</cite> by Vincent van Zeijst.</p>
</p>