---
layout: project_page
title: Homeward Bound #TeamHB5
---

<div align="center">
    <i>Due to the current COVID19 pandemic situation, the voyage has been postponed until November 2023.</i>
</div>
<div>
    <img src="images/homeward-acciona.jpg" style="width: 100%">
    <button class="accordion">Homeward Bound Initative</button>
    <div class="panel">
        <div class="panelcontent">
            {% include content/HB5/about.html%}
        </div>
    </div>
    <button class="accordion">Why women in STEMM?</button>
    <div class="panel">
        <div class="panelcontent">
            {% include content/HB5/whywomeninstemm.html%}
        </div>
    </div>
    <button class="accordion">Why Antarctica?</button>
    <div class="panel">
        <div class="panelcontent">
            {% include content/HB5/whyantarctica.html%}
        </div>
    </div>
    <button class="accordion">Article in <i>Nature</i></button>
    <div class="panel">
        <div class="panelcontent">
            {% include content/HB5/nature.html%}
        </div>
    </div>
</div>