{% include Scripts/gallery.html %}

  <script>
    artThumb(
      img_src = "images/egu21_mountains.jpg", 
      img_alt = "egu21_mountains", 
      heading = "Mountains out of Microscopes", 
      text = "A collaboration with award-winning Early Career Scientist, Christoph von Hagke, on his research on mountain belt formations. It is very interesting to see the visual similarity between macroscopic formations and microscopic samples of their constituents. Inspired by the abstract </b>: <a href='https://bit.ly/3aBptef'> From Structures to Mountain Belt Dynamics – a global and multidisciplinary perspective. </a>",
      medium = "Digital art",
      year = "2021"
      );
  </script>

  <script>
    artThumb(
      img_src = "images/egu21_chime.jpg", 
      img_alt = "egu21_chime", 
      heading = "NASA-ESA Cooperation on the SBG and CHIME Hyperspectral Satellite Missions", 
      text = "International cooperation in space is very important for a sustainable and collaborative way forward. The CHIME mission is one such collaboration between space agencies. Inspired by the abstract </b>: <a href='https://meetingorganizer.copernicus.org/EGU21/EGU21-15166.html'> NASA-ESA Cooperation on the SBG and CHIME Hyperspectral Satellite Missions: a roadmap for the joint Working Group on Cal/Val activities. </a>",
      medium = "Digital art",
      year = "2021"
      );
  </script>

  <script>
    artThumb(
      img_src = "images/egu21_aq-india.jpg", 
      img_alt = "egu21_aq-india", 
      heading = "Air-Quality Monitoring in India: Model vs. Reality", 
      text = "Researchers, like Arindam Roy of EPFL, are trying to find better ways of representing and treating seemingly chaotic data, in this case with respect to air-quality monitoring in India. Inspired by the abstract </b>: <a href='https://bit.ly/3tVU1yX'> The representativeness of ground-based air quality monitoring stations: observation and recommendation from Indian cities. </a>",
      medium = "Digital art",
      year = "2021"
      );
  </script>

  <script>
    artThumb(
      img_src = "images/egu21_aq-africa.jpg", 
      img_alt = "egu21_aq-africa", 
      heading = "AfriqAir: Make Air Quality Great Again", 
      text = "Researchers, like R Subramanian of KCRC, are doing ground-breaking work in air quality research in Africa, and the importance of proper monitoring in the continent. Inspired by the abstract </b>: <a href='https://meetingorganizer.copernicus.org/EGU21/EGU21-4975.html'> MOPGA/Make Air Quality Great Again: AfriqAir and solution-oriented approaches to improving air quality in the Global South. </a>",
      medium = "Digital art",
      year = "2021"
      );
  </script>
