---
layout: default
---

<div class="aboutpost">
	<h1 class="aboutpost-title" align="center">[About]</h1>
	<p align="center">
		<a href="/About/Bio"><button class="button" id="bio">Bio</button></a>
		<a href="/About/CV"><button class="button" id="cv">CV</button></a>
		<a href="/About/News"><button class="button" id="press">Press</button></a>
		<a href="/About/Contact"><button class="button" id="contact">Contact</button></a>	<hr>
	</p>
	<h1 align="center">{{ page.title }}</h1>
	<br>
</div>
<div>
	{{ content }}	
</div>
