---
layout: default
---

<div class="artpost" align="center">
	<h1 class="artpost-title">[Art Portfolio]</h1>
	<a href="/Portfolio/MoonGallery"><button class="button">Moon Gallery Project</button></a>
	<a href="/Portfolio/Paintings"><button class="button">Paintings & Illustrations</button></a>
	<a href="/Portfolio/GraphicDes"><button class="button">Graphic Design</button></a>
	<a href="/Portfolio/Origami"><button class="button">Origami</button></a>
	<hr>
	<h1>{{ page.title }}</h1>
	<br>
</div>
<div>
	{{ content }}	
</div>


<script>
	// Get the elements with class="column"
	var elements = document.getElementsByClassName("column");

	// Declare a "loop" variable
	var i;

	// Full-width images
	function one() {
	  for (i = 0; i < elements.length; i++) {
	    elements[i].style.flex = "100%";
	  }
	}

	// Two images side by side
	function two() {
	  for (i = 0; i < elements.length; i++) {
	    elements[i].style.flex = "50%";
	  }
	}

	// Four images side by side
	function four() {
	  for (i = 0; i < elements.length; i++) {
	    elements[i].style.flex = "25%";
	  }
	}
</script> 

<!-- 		<a href="/Portfolio/MoonGallery"> <button><big>Moon Gallery Project</big></button> </a> 

		<span><a href="/Portfolio/MoonGallery">[Moon Gallery Project]</a></span>
		<span><a href="/Portfolio/Paintings">[Paintings]</a></span>
		<span><a href="/Portfolio/Sketches">[Sketches]</a></span>
		<span><a href="/Portfolio/Digital">[Digital]</a></span>
		<span><a href="/Portfolio/Crafts">[Crafts]</a></span>
		<span><a href="/Portfolio/Commissions">[Commissions]</a></span>

		<a href="/Portfolio/MoonGallery"> Moon Gallery Project </a> |
		<a href="/Portfolio/Paintings"> Paintings </a> |
		<a href="/Portfolio/Sketches"> Sketches </a> |
		<a href="/Portfolio/Digital"> Digital </a> |
		<a href="/Portfolio/Crafts"> Crafts </a> |
		<a href="/Portfolio/Commissions"> Commissions </a>

-->