---
layout: default
---

<div class="artpost" align="center">
	<h1 class="artpost-title">[Portfolio]</h1>
	<a href="/Portfolio/MoonGallery"><button class="button" id="moongal">Moon Gallery</button></a>
	<a href="/Portfolio/VEGU21"><button class="button" id="vegu21">vEGU21</button></a>
	<a href="/Portfolio/Paintings"><button class="button" id="illustrations">Illustrations</button></a>
	<a href="/Portfolio/GraphicDes"><button class="button" id="graphdes">Graphic Design</button></a>
	<a href="/Portfolio/Origami"><button class="button" id="origami">Origami</button></a>
	<hr>
	<h1>{{ page.title }}</h1>
	<br>
</div>
<div>
	{{ content }}	
</div>
