---
layout: default
---

<div class="artpost" align="center">
	<h1 class="artpost-title">[Art Portfolio]</h1>
	<a href="/Portfolio/MoonGallery"><button class="button">Moon Gallery Project</button></a>
	<a href="/Portfolio/Paintings"><button class="button">Paintings & Illustrations</button></a>
	<a href="/Portfolio/GraphicDes"><button class="button">Graphic Design</button></a>
	<a href="/Portfolio/Origami"><button class="button">Origami</button></a>
	<hr>
	<h1>{{ page.title }}</h1>
	<br>
</div>
<div>
	{{ content }}	
</div>
