<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/About">About</a></li>
	        		<li><a href="/Artwork">Artwork</a></li>
	        		<li><a href="/Space">Space</a></li>
	        		<li><a href="/Antarctica">Antarctica</a></li>
	        		<li><a href="/Thoughts">Thoughts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        			<li><a href="mailto:contact@priyankarajkakati.space">email</a></li>
        			<li><a href="https://twitter.com/priyankaspace">twitter</a></li>
        			<li><a href="https://www.linkedin.com/in/das-pri/">LinkedIn</a></li>
			</ul>
		</footer>
		</body>
	</html>
