---
layout: default
---

<div class="spacepost" align="center">
	<h1 class="spacepost-title">[Space Projects]</h1>

	<p>
		<a href="/Space/EMMIHS" class=""><button class="button">Analogue-Astronaut</button></a>
		<a href="/Space/MoonGallery"><button class="button">Moon Gallery</button></a>
		<a href="/Space/PhD" class=""><button class="button">PhD Research (GNSS)</button></a>
		<a href="/Space/OurGiantLeap"><button class="button">Our Giant Leap</button></a>
		<a href="/Space/IAC2019"><button class="button">ESA ISEB (IAC2019)</button></a>
		<a href="/Space/Xcubesat"><button class="button">X-CubeSat</button></a>
		<hr>
	</p>
	<h1>{{ page.title }}</h1>
	<br>
</div>
<div>
	{{ content }}	
</div>
