---
layout: default
---

<div class="spacepost">
	<h1 class="spacepost-title" style="font-size:30px">Space Projects: {{ page.title }}</h1>

	<p align="center">
		<a href="/Space/EMMIHS"> <button><big>Analogue-Astronaut</big></button> </a>
		<a href="/Space/MoonGallery"> <button><big>Moon Gallery Project</big></button> </a>
		<a href="/Space/OurGiantLeap"> <button><big>Our Giant Leap Initiative</big></button> </a>
		<a href="/Space/IAC2019"> <button><big>ESA ISEB & IAC 2019</big></button> </a>
	</p>
	<br>
	{{ content }}
</div>
