---
layout: default
---

<div class="spacepost" align="center">
	<h1 class="spacepost-title">[Space Projects]</h1>

	<p>
		<span><a href="/Space/EMMIHS" class="">[Analogue-Astronaut]</a></span>
		<span><a href="/Space/MoonGallery">[Moon Gallery Project]</a></span>
		<span><a href="/Space/OurGiantLeap">[Our Giant Leap Initiative]</a></span>
		<span><a href="/Space/IAC2019">[ESA ISEB & IAC 2019]</a></span>
		<span><a href="/Space/Xcubesat">[X-CubeSat]</a></span>
	</p>
	<h1>{{ page.title }}</h1>
	<br>
</div>
<div>
	{{ content }}	
</div>
