{% include Scripts/gallery.html %}

  <script>
    artThumb(
      img_src = "/Sketchbook/images/Origami/dragon.jpg", 
      img_alt = "origami_dragon", 
      heading = "The Dragon Watching over the City", 
      text = "Inspiration from origami by <a href='https://jonakashima.com.br/2015/07/24/origami-dragons/'> Jo Nakashima </a>.",
      medium = "Butter paper",
      year = "2020"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Sketchbook/images/Origami/butterflygoround.jpg", 
      img_alt = "origami_butterflygoround", 
      heading = "Butterflies on a Merry-go-round", 
      text = "Folded butterflies crowding around a fidget-spinner.",
      medium = "Coloured craft paper",
      year = "2020"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Sketchbook/images/Origami/orchid.jpg", 
      img_alt = "origami_orchid", 
      heading = "<i> Orchidée Blanche </i>", 
      text = "Decorative orchid-inspired flowers.",
      medium = "Butter paper",
      year = "2016"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Sketchbook/images/Origami/lamp.jpg", 
      img_alt = "origami_lamp", 
      heading = "Origami Lanterns", 
      text = "Origami lanterns to celebrate the Indian festival of Diwali.",
      medium = "Ink and craft paper",
      year = "2012"
      );
  </script>
