{% include Scripts/gallery.html %}

  <script>
    artThumb(
      img_src = "/Sketchbook/images/GraphicDes/emm3.jpg", 
      img_alt = "EMMIHS-III logo", 
      heading = "EMMIHS-III logo", 
      text = "Mission patch design for the <a href='/Research/EMMIHS3/home'> EMMIHS-III </a> lunar analog simulation.",
      medium = "Digital art",
      year = "2020"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Sketchbook/images/GraphicDes/shaurya.jpg", 
      img_alt = "Shaurya Foundation logo", 
      heading = "Shaurya Foundation logo", 
      text = "Logo design for the <a href='http://www.shaurya-foundation.org/'> Shaurya Foundation </a>.",
      medium = "Digital art",
      year = "2018"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Sketchbook/images/GraphicDes/sgac_greeting2021.png", 
      img_alt = "SGAC Greeting Card 2021", 
      heading = "SGAC Greeting Card 2021", 
      text = "Logo design for the New Year greeting card for the <a href='https://spacegeneration.org/'> Space Generation Advisory Coucil</a>.",
      medium = "Digital art",
      year = "2020"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Sketchbook/images/GraphicDes/echo2012.jpg", 
      img_alt = "Physics society poster", 
      heading = "Echo 2012: Physics Society Cover Design", 
      text = "Cover design for Echo, the annual magazine of the St. Stephen's College (University of Delhi) Physics Society.",
      medium = "Mixed-media on paper",
      year = "2012"
      );
  </script>

  <script>
    artThumb(
      img_src = "/Sketchbook/images/GraphicDes/ogl.jpg", 
      img_alt = "Our Giant Leap poster", 
      heading = "Our Giant Leap poster", 
      text = "Logo and poster design for the <a href='https://spacegeneration.org/event/sgfrance-2020'> Our Giant Leap initiative </a> of the Space Generation Advisory Coucil.",
      medium = "Digital art",
      year = "2019"
      );
  </script>
