---
layout: project_page
title: EMMIHS-III Analogue Astronaut Mission
---

<div>
    <img src="images/astrofinalEVA.jpg" alt="Priyanka Analogue astronaut">

    <div>
        <button class="accordion">Analogue astronaut missions </button>
        <div class="panel"> <br>
            {% include content/EMMIHS3/About.html %} <br>
        </div>
        <button class="accordion">ILEWG and EMMIHS</button>
        <div class="panel"> <br>
            {% include content/EMMIHS3/ILEWG.html %} <br>
        </div>
        <button class="accordion">Publications</button>
        <div class="panel"> <br>
            {% include content/EMMIHS3/Publications.html %} <br>
        </div>
    </div>
    <div> <br>
        {% include content/EMMIHS3/Gallery.html %} <br>
    </div>
</div>